.circle-row {
    margin: 20px;
}

.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    z-index: 100;
    display: inline-flex;
}

.red {
    background-color: rgb(255, 0, 0);
}

.blue {
    background-color: rgb(0, 0, 255);
}

.green {
    background-color: rgb(173, 255, 47);
}

.mix {
    opacity: 0.3;
}

.absolute {
    margin-left: 5px;
    position: absolute;
}

.c1 {
    mix-blend-mode: lighten;
}

.c2 {
    position: relative;
    left: -4vw;
    mix-blend-mode: lighten;
}

.c3 {
    position: relative;
    top: 9vh;
    left: -14.5vw;
    mix-blend-mode: lighten;
}